:root {
    /* background colors */
    --bg-color-1: #202020;
    --surface-bg-color: #2b2b2b;
    --surface-bg-color-hover: #323232;

    /* button background colors */
    --btn-bg-color: #373737;
    --btn-bg-color-hover: #434343;
    --btn-bg-color-active: #383838;

    /* borders */
    --border: 1px solid #1d1d1d;

    --border-radius: 8px;
    
    /* button borders */
    --btn-border: 2px solid #3f3f3f;
    --btn-border-hover: 2px solid #454545;
    --btn-border-active: 2px solid #404040;

    /* text */
    --link-text-color: #9CEBFF;
}

#portfolioTabContent {
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-family: var(--default-font);
}

/* side bar */
.side-bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0px 1em 0px 0px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.side-bar .nav-item {
    list-style-type: none;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--surface-bg-color);
}

.side-bar .nav-item button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    aspect-ratio: unset;
    cursor: pointer;
    border: var(--btn-border);
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.profile > img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 5em;
}

.profile .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-title {
    align-self: flex-start;
    font-weight: 600;
    letter-spacing: 1px;
}

/* buttons */
button {
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    letter-spacing: 1px;
    aspect-ratio: unset;
    transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
    background-color: var(--btn-bg-color-hover);
    border: var(--btn-border-hover);
}

button:active {
    background-color: var(--btn-bg-color-active);
    border: var(--btn-border-active);
}

/* fix for close button specificity */
button.close-btn:hover {
    background-color: var(--window-close-btn-hover-bg-color);
    border: none;
}

button.close-btn:active {
    background-color: var(--window-close-btn-active-bg-color);
    border: none;
}

/* links */
a {
    color: var(--link-text-color);
    text-decoration: none;
}

a[href^="http"]::after { /* external link */
    content: "\f14c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 0.25em;
}

a:hover {
    text-decoration: underline;
}