:root {
    /* background colors */
    --bg-color-1: #202020;
    --surface-bg-color: #2b2b2b;
    --surface-bg-color-hover: #323232;

    /* button background colors */
    --btn-bg-color: #373737;
    --btn-bg-color-hover: #434343;
    --btn-bg-color-active: #383838;

    /* borders */
    --border: 1px solid #1d1d1d;

    --border-radius: 8px;
    
    /* button borders */
    --btn-border: 2px solid #3f3f3f;
    --btn-border-hover: 2px solid #454545;
    --btn-border-active: 2px solid #404040;

    /* text */
    --link-text-color: #9CEBFF;
}

#portfolioTabContent {
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-family: var(--default-font);
    height: 100%;
    box-sizing: border-box;
}

/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0px 1em 0px 0px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

/* sidebar checkbox */
#sidebar-checkbox {
    display: none;
}

#sidebar-checkbox-label {
    cursor: pointer;
    font-size: 1.5em;
    z-index: 999;
    display: none;
}

#sidebar-checkbox-label,
#sidebar-checkbox-label i {
    transition: transform 0.3s ease, rotate 0.3s ease;
}

#sidebar-checkbox:checked ~ #sidebar-checkbox-label i {
    transform: rotate(-180deg);
}

.sidebar:has(#sidebar-checkbox:checked) .profile,
.sidebar:has(#sidebar-checkbox:checked) .nav-bar {
    transform: translateX(-20px);
    max-width: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.sidebar:has(#sidebar-checkbox:checked) {
    gap: 0;
}

@media (max-width: 600px) {
    #sidebar-checkbox-label {
        display: unset;
    }
}

/* profile */
.profile {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
    max-width: 231px;
    max-height: 80px;
    transform-origin: left center;
    transition: max-height 0.3s ease, max-width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.profile > img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 5em;
    height: auto;
    flex-shrink: 0;
}

.profile .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
    max-width: 231px;
    max-height: 249px;
    transform-origin: left center;
    transition: max-height 0.3s ease, max-width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.nav-bar .nav-item {
    list-style-type: none;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--surface-bg-color);
}

.nav-bar .nav-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.nav-bar .nav-item a:hover {
    text-decoration: none;
}

/* main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
    padding-right: 0.5em;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-title {
    align-self: flex-start;
    font-weight: 600;
    letter-spacing: 1px;
}

/* buttons */
button,
.btn {
    background-color: var(--btn-bg-color);
    color: var(--window-text-color);
    border: var(--btn-border);
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    aspect-ratio: unset;
    cursor: pointer;
    aspect-ratio: unset;
    padding: 0.5em;
    transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover,
.btn:hover {
    background-color: var(--btn-bg-color-hover);
    border: var(--btn-border-hover);
}

button:active,
.btn:active {
    background-color: var(--btn-bg-color-active);
    border: var(--btn-border-active);
}

/* fix for close button specificity */
button.close-btn:hover {
    background-color: var(--window-close-btn-hover-bg-color);
    border: none;
}

button.close-btn:active {
    background-color: var(--window-close-btn-active-bg-color);
    border: none;
}

/* links */
a {
    color: var(--link-text-color);
    text-decoration: none;
}

a[href^="http"]::after { /* external link */
    content: "\f14c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 0.25em;
}

a:hover {
    text-decoration: underline;
}