* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family-ui);
  font-size: var(--font-size);
  color: var(--text-color);
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
}

/* title bar */
.title-bar {
  background-color: var(--title-bar-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--padding);
}

.title-bar button {
  border-radius: var(--border-radius);
}

.title-bar button:hover {
  background-color: var(--titile-bar-hover-color);
}

/* view PS: It's f*cking everything */
.view {
  display: flex;
  width: 100%;
  height: 100%;
}

/* button */
button {
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

/* icons */
.icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  opacity: 0.9;
  margin-right: 1em;
}

button .icon {
  margin: 0;
}

/* wrapper */
.wrapper {
  display: flex;
  align-items: center;
}

.wrapper.padding {
  padding: var(--padding);
}

.wrapper.gap {
  gap: var(--padding);
}

/* footer */
footer {
  background-color: var(--footer-bg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding) 0 var(--padding);
}

footer button:hover {
  background-color: var(--footer-hover-color);
}