@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --padding: 8px;
    --border-radius: 8px;
    --font-size: 14px;
    --text-color: #CCCCCC;
    --font-family-ui: "Inter", sans-serif;
}

[data-theme="dark"] {
    --main-bg: #1E1E1E;
    --title-bar-bg: #3C3C3C;
    --title-bar-hover-color: #454646;

    /* tabs */
    --tab-bg: #2D2D2D;
    --tab-hover-bg: #1E1E1E;
    --tabs-container-hover-color: #313232;

    /* sidebar */
    --sidebar-bg: #333333;
    --sidebar-content-bg: #252526;
    --sidebar-hover-color: #2B2D2E;

    --tabs-container-bg: #252526;

    /* footer */
    --footer-bg: #4679C6;
    --footer-hover-color: #5C89CD;
}