#tab-content-container[data-style-id="welcome"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-style-id="welcome"] .welcome-wrapper {
    width: fit-content;
}

[data-style-id="welcome"] .column-left,
[data-style-id="welcome"] .column-right {
    width: 50%;
}

[data-style-id="welcome"] .column-left {
    gap: 2em;
}

[data-style-id="welcome"] .column-right {
    align-items: end;
    /* width: fit-content; */
}