#tab-content-container[data-style-id="welcome"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

[data-style-id="welcome"] .welcome-wrapper {
    width: fit-content;
}

[data-style-id="welcome"] .column-left {
    gap: 2em;
}

[data-style-id="welcome"] .column-right {
    align-items: end;
}

@media (max-width: 960px) {
    [data-style-id="welcome"] .welcome-wrapper {
        flex-direction: column;
        gap: 5em;
    }

    [data-style-id="welcome"] .column-right {
        align-items: center;
    }
}