:root {
    /* border */
    --window-border: 1px solid #403F47;
    --window-border-radius: 8px;

    /* box shadows */
    --window-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

    /* background colors */
    --window-bg-color-1: #2e2e2e;
    --window-bg-color-2: #0c0c0c;
    --window-bg-color-3: #3b3b3b;

    /* buttons */
    --window-btn-hover-bg-color: #3e3e3e;
    --window-btn-active-bg-color: #363636;
    --window-close-btn-hover-bg-color: #E81123;
    --window-close-btn-active-bg-color: #F1707A;

    /* fonts */
    --code-font: "Fira Code", monospace;
}

/* window */
.window {
    aspect-ratio: 16/9;
    height: 80vh;
    width: auto;
    max-width: 100%;
    border-radius: var(--window-border-radius);
    border: var(--window-border);
    box-shadow: var(--window-box-shadow);
    display: flex;
    flex-direction: column;
    color: var(--window-text-color);
    transform: scale(1);
    transition: transform 0.3s ease, scale 0.3s ease, width 0.3s ease, height 0.3s ease, aspect-ratio 0.3s ease, box-shadow 0.3s ease, top 0.3s ease, left 0.3s ease;
}

.window.hidden {
    scale: 0;
}

.window.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    border: none;
    box-shadow: none;
    z-index: 100;
}

/* title bar */
.window > .title-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--window-bg-color-1);
    border-radius: var(--window-border-radius) var(--window-border-radius) 0px 0px;
    transition: border-radius 0.3s ease;
}

.window.fullscreen > .title-bar {
    border-radius: 0px;
}

/* tabs container */
.window > .title-bar > .tabs-container {
    padding: 0.5em 0.5em 0px 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.window-tab {
    padding: 0.5em;
    border-radius: var(--window-border-radius) var(--window-border-radius) 0px 0px;
    background-color: var(--window-bg-color-2);
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    transition: scale 0.3s ease;
}

.window-tab.hidden {
    scale: 0;
}

.window-tab.current {
    background-color: var(--window-bg-color-3);
}

.tab-icon {
    background-color: var(--window-bg-color-1);
    padding: 0.25em;
    border-radius: 4px;
}

/* window / popup buttons */
.window button,
.popup button {
    border: none;
    background-color: transparent;
    padding: 0.5em;
    border-radius: var(--window-border-radius);
    color: var(--window-text-color);
    cursor: pointer;
    aspect-ratio: 1/1;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.window button:hover,
.popup button:hover { background-color: var(--window-btn-hover-bg-color) }

.window button:active,
.popup button:active { background-color: var(--window-btn-active-bg-color) }

.window button.close-btn:hover
.popup button.close-btn:hover { background-color: var(--window-close-btn-hover-bg-color) }

.window button.close-btn:active,
.popup button.close-btn:active { background-color: var(--window-close-btn-active-bg-color) }

/* window buttons container */
.window .btns-container,
.popup .btns-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.window .btns-container button,
.popup .btns-container button {
    aspect-ratio: 1/1;
    border-radius: 0px;
}

.window .btns-container button:nth-last-child(1),
.popup .btns-container button:nth-last-child(1) {
    border-radius: 0px var(--window-border-radius) 0px 0px;
}

.window.fullscreen .btns-container button:nth-last-child(1) {
    border-radius: 0px;
}

/* window content container */
.window .content-container {
    flex-grow: 1;
    background-color: var(--window-bg-color-2);
    border-radius: 0px 0px var(--window-border-radius) var(--window-border-radius);
    font-family: var(--code-font);
    position: relative;
    overflow: auto;
}

.window .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
}

.window .tab-content.current {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#startupTabContent {
    flex-direction: column;
    padding: 0.5em;
}

/* popup */
.popup {
    border-radius: var(--window-border-radius);
    aspect-ratio: 1.33/1;
    box-shadow: var(--window-box-shadow);
    display: flex;
    flex-direction: column;
    color: var(--window-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 200;
    transition: scale 0.3s ease;
}

.popup.hidden {
    scale: 0;
}

.popup .title-bar {
    background-color: var(--window-bg-color-1);
    border-radius: var(--window-border-radius) var(--window-border-radius) 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup .wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;
}

.popup .content-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: var(--window-bg-color-2);
    flex: 1;
    position: relative;
    border-radius: 0px 0px var(--window-border-radius) var(--window-border-radius);
}

.popup button.confirm-btn {
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding: 0.5em 2em;
    aspect-ratio: unset;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.popup button.confirm-btn:hover {
    background-color: var(--btn-bg-color-hover);
    border: var(--btn-border-hover);
}

.popup button.confirm-btn:active {
    background-color: var(--btn-bg-color-active);
    border: var(--btn-border-active);
}

/* popup error content */
.popup .error-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex: 1;
}

.popup .error-content-container i {
    font-size: clamp(2em, 10vw, 10em);
    width: fit-content;
    margin: auto;
    color: var(--window-close-btn-active-bg-color);
}