/* #tab-content-container[data-style-id="work-experience"] {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tab-content-container[data-style-id="work-experience"]::after {
    content: "";
    width: 1em;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 50%;
} */