section.contact-us iframe {
    width: 100vw;
    height: 550px;
    margin-left: calc(-50vw + 50%);
}


/* store locations container */
.store-locations-container .col {
    flex-direction: column;
    align-items: start;
}

/* review form styles */
section.get-in-touch {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}

form.review-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

form.review-form .input-wrapper {
    position: relative;
    width: 100%;
}

form.review-form input, form.review-form textarea {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.5em 1em;
    width: 100%;
    cursor: text;
    transition: border 0.2s ease;
}

form.review-form textarea {
    resize: none;
    height: 20em;
}

form.review-form input:focus, form.review-form textarea:focus {
    border: 1px solid #ebb73f;
    outline: none;
}

form.review-form label {
    position: absolute;
    top: 0.4em;
    left: 1em;
    padding: 0 0.25em;
    color: var(--primary-color);
    background-color: white;
    transition: transform 0.2s ease;
}

form.review-form input:focus ~ label, form.review-form textarea:focus ~ label, form.review-form input:not(:placeholder-shown) ~ label, form.review-form textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-1.3em) translateX(-0.25em);
}

form.review-form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--nav-text-color);
    width: fit-content;
    padding: 0.75em 3em;
    cursor: pointer;
}

form.review-form input[type="submit"]:active {
    color: #ebb73f;
}


/* about uomo page styles */
.banner-img-container {
    width: 100%;
    height: auto;
    aspect-ratio: 64/25;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    background-image: url(../images/house-md.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inset {
    position: relative;
    border-radius: 4px;
}

.inset::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
}

.banner-img {
    width: 100%;
    height: 100%;
}


.our-story {
    max-width: 1050px;
    margin: 0 auto;
}


/* misison vision container */
.mission-vision-container .wrapper{
    flex-direction: column;
    align-items: start;
    padding: 2em 0;
    width: 50%;
}

.the-company {
    flex-direction: column;
    align-items: start;
    padding: 2em 0;
}

.the-company-container > div {
    max-width: 510px;
    width: 100%;
}

.the-company-container > div > img {
    max-width: 100%;
}