@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: "Exo 2", serif;
    font-size: 14px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#container {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* dropdown menu styles */
.dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    position: relative;
}

.dropdown-btn::after {
    content: url(../images/icons/arrow-down-icon.svg);
    width: 12px;
    height: 12px;
    transition: rotate 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown-btn.nav::after {
    content: url(../images/icons/arrow-down-icon-nav.svg);
}

.dropdown .dropdown-menu {
    display: block;
    position: absolute;
    top: 110%;
    left: 0%;
    background: white;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    border: 1px solid var(--border-color);
    z-index: 1;
    border-radius: 4px;
    text-align: center;
    transform: translateY(-0.5em);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
}

.dropdown-menu a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--primary-color);
}

.dropdown-menu a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-menu a:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--border-color);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown:hover .dropdown-btn::after {
    rotate: 180deg;
    transform: translateY(-1px);
}


/* clickable styles */
a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--primary-color);
    text-decoration-color: transparent;
}

a:hover:not(.underline, .btn, footer a, .dropdown-btn) {
    text-decoration-color: var(--primary-color);
}

a.secondary {
    color: var(--secondary-text-color);
    text-decoration: none;
}

a.secondary:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-text-color);
}

footer a:hover {
    text-decoration-color: var(--nav-text-color);
}

a:active {
    color: var(--secondary-color);
}

a:active:not(a.underline, .btn, .dropdown-btn) {
    text-decoration-color: var(--secondary-color);
}


/* underline styles */
a.underline {
    position: relative;
    height: fit-content;
    font-weight: 600;
    color: var(--secondary-text-color);
    width: fit-content;
}

a.underline::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.2s ease-in-out;
}

a.underline:hover {
    color: var(--primary-color);
}

a.underline:hover::after {
    width: 70%;
}

a.underline.current {
    color: var(--primary-color);
}

a.underline.current::after {
    width: 70%;
}

a.underline.current:hover::after {
    width: 100%;
}

a.underline:active {
    color: var(--secondary-color);
    transition: color none;
}

a.underline:active::after {
    background-color: var(--secondary-color);
}


/* button styles */
.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    border-radius: 20px;
    font-weight: 600;
    width: fit-content;
    background-color: var(--primary-color);
    color: var(--nav-text-color);
    text-align: center;
    user-select: none;
    transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.btn:hover {
    scale: 1.1;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn.secondary {
    background-color: var(--secondary-color);
    color: var(--nav-text-color);
}


/* text styles */
h1 {
    font-size: 3.2em;
    font-weight: 600;
    color: var(--primary-color);
}

h2 {
    font-size: 2.1em;
    color: var(--primary-color);
    font-weight: 600;
}

h3 {
    font-size: 1.8em;
    color: var(--primary-color);
    font-weight: 600;
}

p {
    color: var(--primary-color);
}

p.secondary {
    color: var(--secondary-text-color);
}

nav * {
    color: var(--nav-text-color);
}


/* extended background width */
.extended-bg-width {
    position: relative
}

.extended-bg-width::before {
    position: absolute;
    top: 0;
    left: -100vw;
    content: "";
    width: 200vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}


/* extended line styles */
.extended-line {
    position: relative;
}

.extended-line::after {
    content: "";
    position: absolute;
    left: -100vw;
    bottom: 0;
    width: 200vw;
    height: 1px;
    background-color: var(--border-color);
}

.extended-line.top {
    top: 0;
}


/* different frequently used containers styles */
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1399px) {
    .space-between:not(header .space-between, .head, .availability-container, .breadcrumb) {
        justify-content: space-evenly;
    }
}


/* search bar styles */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid var(--border-color);
    padding: 1em 1.25em 1em 1.25em;
    max-width: 884px;
    width: 100%;
    border-radius: 1.8em;
    max-height: 50px;
}

.search-bar:has(*:focus) {
    border: 1px solid var(--secondary-text-color);
}

.search-bar .search-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-input {
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    text-indent: 1.5em;
}

.search-bar .category-select {
    background: none;
    border: none;
    outline: none;
    width: fit-content;
}


/* main */
.main {
    flex: 1;
}